<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/public/logo-mercado-liebre.svg" width="400" height="200">
        <h4> Lugar para poner la barra de busqueda </h4>
        <h4> Compra en cuotas y sin tarjeta de credito </h4>
        <nav> 
            <ul>
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Sobre Nosotros </a></li>
                <li><a href="#"> Contacto </a></li>
            </ul>
            <ul> 
                <li><a href="#"> Crea tu cuenta </a></li>
                <li><a href="#"> Ingresa </a></li>
                <li><a href="#"> Mis compras </a></li>
            </ul>
        </nav> 
    </header>
    <main>
        
        <section>
            <h2> Basado en tu ultima visita </h2>
            <article>
                <img src="/public/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="300" height="200" > 
                <h4>6.770</h4>
                <h4>40% OFF</h4>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/public/img-macbook-pro-2019.jpg" alt="imagen de macbook" width="250" height="200" > 
                <h4>230000</h4>
                <h4>20% OFF</h4>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img src="/public/img-samsung-galaxy-s10.jpg" alt="imagen de macbook" width="250" height="200" > 
                <h4>70.500</h4>
                <h4>10% OFF</h4>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/public/img-tv-samsung-smart.jpg" alt="imagen de macbook" width="250" height="200" > 
                <h4>23.200</h4>
                <h4>5% OFF</h4>
                <h4>SmartTv Samsung 43 </h4>
            </article>
        </section>
    </main>
    <footer> 
        
    </footer>
</body>
</html>